.particle {
    position: absolute;
     border-radius: 50%;
     z-index: -1;
}

@for $i from 1 through 200 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
    
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 60s infinite;
        $size: random(5) + 5 + px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        background: hsl(random(360), 70%, 50%);
        background-color: rgb(148, 233, 224);
        box-shadow: 0px 0px 10px 4px rgba(0, 255, 255, 0.3);
        -moz-box-shadow: 0px 0px 10px 4px rgba(0, 255, 255, 0.3);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 255, 255, 0.3);
        max-width: 6px;
        max-height: 6px;
    }
}